body {
  display: flexbox;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #131313;
  background-image: url("wenyang-lwHNPvw2nVA-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

p {
  font-weight: normal;
  font-size: 1rem;
  width: 90%;
  margin: 0em auto;
  color: white;
}

p:hover {
  background-color: black;
}

header {
  display: flexbox;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, #3f3f3f, #000000);
  top: 0rem;
  color: #ffffff;
  position: sticky;
  margin: 0rem;
  padding: 0rem;
  width: 100%;
  height: 100%;
}

h1 {
  padding: 0rem;
  margin: 0rem;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

#HomePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  padding: 0rem auto 10rem auto;
  text-align: center;
}

#about {
  padding: 0rem auto 10rem auto;
  text-align: center;
}

#tools {
  padding: 0rem auto 10rem auto;
  text-align: center;
}

h2 {
  padding: 1em auto 0 auto;
  margin: 1em auto 1em auto;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  font-family: cursive;
}

li {
  top: 0rem;
  padding: 0rem;
  display: inline;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  margin: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

input {
  display: flexbox;
  justify-content: center;
  width: 12rem;
  height: 1rem;
  padding: 0.75em auto 0 auto;
  color: maroon;
  text-align: center;
  align-content: center;
  font-weight: bolder;
}

button {
  display: flexbox;
  justify-content: center;
  width: 6rem;
  height: 2rem;
  padding: 0.75em auto 0 auto;
  background-color: maroon;
  color: white;
  text-align: center;
  align-content: center;
  font-weight: bolder;
}

img {
  width: 50%;
  height: 50%;
  bottom: 20rem;
  padding: 1em auto 3em auto;
  margin: 1em 0em 10em 0rem;
  text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: maroon;
}

div {
  margin: auto;
  text-align: center;
  margin: 1rem auto 10rem auto;
  display: flexbox;
  flex-wrap: wrap;
}

#bottom {
  display: flexbox;
  align-content: center;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, #3f3f3f, #000000);
  position: fixed;
  bottom: 0rem;
  width: 100%;
  color: #ffffff;
  font-size: 0.75rem;
  height: 6rem;
  font-weight: lighter;
  margin: auto;
}

.footer {
  font-size: 0.75rem;
  text-align: center;
  margin: auto;
}

#tickerSearch {
  display: flexbox;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  margin: 1em auto;
}

iframe {
  height: 20rem;
  width: 25rem;
  margin: 2rem auto 2rem auto;
}

#Search {
  padding: 0 auto auto auto;
  margin: 0 auto 5em auto;
}

.examples {
  margin: 3em, auto 0em;
  width: 30%;
}

#companyOutput {
  background-color: black;
  border: 0.5em solid maroon;
  width: 25%;
  margin: 2em auto;
  padding: 1em auto;
  font-size: 1em;
  min-width: max-content;
}

table {
  border-collapse: collapse;
  background-color: #000000;
  overflow-x: auto;
  max-width: 20em;
  min-width: min-content;
  margin: auto;
}

caption {
  background-color: maroon;
  font-weight: bolder;
  font-size: 1.5em;
}

th,
td {
  padding: 0.5em;
  text-align: center;
  border: 0.25em solid maroon;
}

tr {
  width: 1em;
}

tr:hover {
  background-color: maroon;
}
